# If multiple lines match, then the last in match in the file is applied.
*               @derekbelrose
/source/        @derekbelrose-demos/devteam
# everything else is not protected, so any user can create a PR and 
# it be merged without CODEOWNER approval
